# Jupyter 체크포인트 폴더 무시
.ipynb_checkpoints/

# 특정 폴더 무시 (전체)
Digital_mkt_250811/
pandas/
anaconda_projects/
scrapy/
selenium/
soobin_practice/
cyworld/
new_repo/

# 환경 파일
.env
*.json

# zip 파일
*.zip

# 기타
.DS_Store
