# 시스템 관련
.DS_Store
.env

# 자동 생성 파일
.ipynb_checkpoints/
*.zip

# 특정 불필요한 파일만 무시
Digital_mkt_250811/instant-ascent-468703-h8-ab4b106c6a3c.json

# pandas 내 데이터 파일만 무시하고, 코드 등은 추적하고 싶을 때:
pandas/00_PANDASPLOTLY_FUNCODING_FIRSTDATA/00_data/
pandas/00_PANDASPLOTLY_FUNCODING_FIRSTDATA/COVID-19-master/
pandas/00_PANDASPLOTLY_FUNCODING_FIRSTDATA_V3_1.zip
